<div id="privacy_policy_terms">
  <div>
    <%=image_tag 'PrivacyPolicy1.png'%>
    <%=image_tag 'PrivacyPolicy2.png'%>
    <%=image_tag 'PrivacyPolicy3.png'%>
    <%=image_tag 'PrivacyPolicy4.png'%>
    <%=image_tag 'PrivacyPolicy5.png'%>
    <%=image_tag 'PrivacyPolicy6.png', :style => "height: 150px;"%>
  </div>
  <hr>
</div>