<div id="privacy_policy_terms">
  <div>
    <%= image_tag "Terms1.png"%>
    <%= image_tag "Terms2.png"%>
    <%= image_tag "Terms3.png"%>
    <%= image_tag "Terms4.png"%>
    <%= image_tag "Terms5.png"%>
    <%= image_tag "Terms6.png"%>
    <%= image_tag "Terms7.png"%>
    <%= image_tag "Terms8.png"%>
    <%= image_tag "Terms9.png"%>
    <%= image_tag "Terms10.png"%>
    <%= image_tag "Terms11.png"%>
    <%= image_tag "Terms12.png"%>
    <%= image_tag "Terms13.png"%>
    <%= image_tag "Terms14.png"%>
    <%= image_tag "Terms15.png"%>
    <%= image_tag "Terms16.png"%>
    <%= image_tag "Terms17.png"%>
    <%= image_tag "Terms18.png"%>
    <%= image_tag "Terms19.png"%>
    <%= image_tag "Terms20.png"%>
    <%= image_tag "Terms21.png", :style => "height: 650px;"%>
  </div>
  <hr>
</div>