<!DOCTYPE html>
<html>
<head>
  <title>Avibe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav_wrapper">
    <div id="nav_child">
      <div id="masthead">
        <%= image_tag 'http://static.wixstatic.com/media/10f9fb_77f46adafb254298b8da2ada357af100.png_srz_p_185_54_75_22_0.50_1.20_0.00_png_srz' %>
      </div>
      <div id="social_media">
        <%= image_tag "http://static.wixstatic.com/media/d75821b3625d16f95dfd8ebff761922d.png_srz_p_35_35_75_22_0.50_1.20_0.00_png_srz" %>
        <%= image_tag "http://static.wixstatic.com/media/09b721261e9fba8dd8a96ee539a0743f.png_srz_p_35_35_75_22_0.50_1.20_0.00_png_srz" %>
        <%= image_tag "http://static.wixstatic.com/media/f81288cef4de8223015ce3dabe23a0c4.png_srz_p_35_35_75_22_0.50_1.20_0.00_png_srz" %>
      </div>
      <div id="links">
        <ul>
          <a href="#">
            <li>
              <h4>
                Home
              <h4>
            </li>
          </a>
          <a href="#">
            <li>
              <h4>
                About
              </h4>
            </li>
          </a>
          <a href="#">
            <li>
              <h4>
                Privacy
              </h4>
            </li>
          </a>
          <a href="#">
            <li>
              <h4>
                Terms
              </h4>
            </li>
          </a>
          <a href="#">
            <li>
              <h4>
                Contact
              </h4>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
